.ropeproject/
bats-core/
*.pyc
.tox/
build/
dist/
ccm.xml
spline.egg-info
_build/
.coverage
coverage.xml
coverage/
htmlcov/
tests.xml
pipeline_demo_python_primes.egg-info/
.ipynb_checkpoints/
.coverage.*
pipeline.html
.noseids
~/
dockerfile-*
.scannerwork/