{% if dockerfile_content|length -%}
# Dockerfile:
# >>
{% for line in dockerfile_content.split('\n') -%}
# {{ line }}
{% endfor -%}
# <<
{% endif -%}

DOCKERFILE=$(basename {{ dockerfile_filename }})
cp {{ dockerfile_filename }} "${PWD}/${DOCKERFILE}"

# for visibility in logging
echo "docker build -t {{ name }}:{{ tag }} -f \"${DOCKERFILE}\" \"${PWD}\""
# trying to build docker image
docker build -t {{ name }}:{{ tag }} -f "${DOCKERFILE}" "${PWD}"
docker_error=$?

# cleanup
rm -f "${DOCKERFILE}"
rm -f {{ dockerfile_filename }}
# give back result
exit ${docker_error}