if [ $# -eq 0 ]; then
    BACKGROUND_MODE=-i
    MOUNT=
    SSH_AGENT=
    NETWORK=

    if [ "{{ container.background }}" == "true" ]; then
        BACKGROUND_MODE=-d
    fi

    if [ "{{ container.mount }}" == "true" ]; then
        MOUNT="-v "${PWD}":/mnt/host"
    fi

    if [ -n "${SSH_AUTH_SOCK}" ]; then
        SSH_AGENT="-v ${SSH_AUTH_SOCK}:/ssh-agent -e SSH_AUTH_SOCK=/ssh-agent"
    fi

    if [ -n "{{ container.network }}" ]; then
        NETWORK="--network={{ container.network }}"
    fi

    USER_LABELS=
    {% for key, value in container.labels.items() %}
        USER_LABELS="${USER_LABELS} --label {{ key }}={{ value }}"
    {% endfor %}

    docker run --rm={{ container.remove }} \
        ${NETWORK} \
        -v $(dirname ${PIPELINE_BASH_FILE_ORIGINAL}):/root/scripts ${MOUNT} \
        -e "UID=$(id -u)" -e "GID=$(id -g)" {% raw %}{{ env|docker_environment }}{% endraw %} \
        ${SSH_AGENT} \
        --label="pipeline=${PIPELINE_PID}" \
        --label="pipeline-stage=${PIPELINE_STAGE}" \
        --label="creator=$$" \
        --label="context=pipeline" ${USER_LABELS} \
        ${BACKGROUND_MODE}  {{ container.image }} \
        ${PIPELINE_BASH_FILE} INIT
else
    {{ container.script }}
fi