{% if dockerfile_content|length -%}
# Dockerfile:
# >>
{% for line in dockerfile_content.split('\n') -%}
# {{ line }}
{% endfor -%}
# <<
{% endif -%}
# for visibility in logging
echo "docker build -t {{ name }}:{{ tag }} < {{ dockerfile_filename }}"
# trying to build docker image
docker build -t {{ name }}:{{ tag }} - < {{ dockerfile_filename }}
docker_error=$?
# cleanup
rm -f {{ dockerfile }}
# give back result
exit ${docker_error}