<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="spline - pipeline visualization">
        <meta name="keywords" content="spline,pipeline,docker,bash">
        <meta name="author" content="Thomas Lehmann">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="5">
        <title>Spline - Pipeline Visualization</title>
    </head>

    <body>
        <table>
            <!-- table header -->
            <tr>
                <th>Matrix</th>
                {% for stage_name in store.document|find_stages -%}
                <th>{{ stage_name }}</th>
                {% endfor %}
            </tr>

            <!-- table body -->
            {% for matrix in store.document|find_matrix -%}
            <tr>
                <td>{{ matrix.name }}</td>
                {% for stage_name in store.document|find_stages -%}
                {%- set stage = store.get_stage(matrix.name, stage_name) -%}
                <td>{{ stage.status }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
