<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="spline - pipeline visualization">
        <meta name="keywords" content="spline,pipeline,docker,bash">
        <meta name="author" content="Thomas Lehmann">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="5">
        <titlep>Spline - Pipeline Visualization</title>
    </head>

    <body>
        <table>
            <th>
                <td>Matrix</td>
                GO ON HERE 
            </th>
        </table>
    </body>
</html>
