<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="spline - pipeline visualization">
        <meta name="keywords" content="spline,pipeline,docker,bash">
        <meta name="author" content="Thomas Lehmann">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="5">
        <title>Spline - Pipeline Visualization</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body style="padding-top: 60px">
        <nav class="navbar navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Spline - Pipeline Visualization</a>
                </div>
            </div>
        </nav>

        <div class="container">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Matrix</th>
                        {% for stage_name in store.document|find_stages -%}
                        <th><b>Stage</b>: {{ stage_name }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for matrix in store.document|find_matrix -%}
                    <tr>
                        <td>
                            <b>name</b>: {{ matrix.name }}<br/>
                            <b>duration</b>: {{ store.get_duration(matrix.name) }} seconds
                        </td>
                        {% for stage_name in store.document|find_stages -%}
                        {%- set stage = store.get_stage(matrix.name, stage_name) -%}
                        <td class="{{ "success" if stage.status == "succeeded" else "danger" if stage.status == "failed" else "warning" }}">
                            {% if stage %}
                            <b>status</b>: {{ stage.status }}<br/>
                            <b>duration</b>: {{ stage.duration() }} seconds
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="text-center">
            <small>Generated by the <a href="{{ spline.url }}">Spline</a> tool, <b>version</b>: {{ spline.version }}, <b>generated</b>: {{ spline.generated }}</small>
            </div>
        </div>
    </body>
</html>
