---
configuration:
    - extension: .py
      type: Python
      regex: ([ ]*#[^\n]*|""".*?""")

    - extension: .sh
      type: Bash
      regex: ([ ]*#[^\n]*)

    - extension: .cxx .cpp .h .hpp
      type: C++
      regex: ([ ]*//[^\n]*|/\*\*.*?\*/)
